
<div class="container p-5 my-5">

    <form class="form1">
    <h2 class="text-center">Weather Search <span><img src="/assets/images/mostly_clear_day.svg" width="30" height="30"></span></h2>
    
    <div class="row mb-3 align-items-center">
        <div class="col-md-2">
            <label for="street">Street<span class="text-danger">*</span></label>
        </div>
        <div class="col-md-10">
            <input id="street" name="street" class="form-control rounded" placeholder="Enter street" 
                   [(ngModel)]="street" 
                   (focus)="validateStreet()" 
                   [formControl]="streetControl"
                   (input)="clearStreetMessage()" 
                   required>
            <div *ngIf="showStreetMessage" class="alert alert-warning">
                Please enter a valid street.
            </div>
        </div>
    </div>
    

    <div class="row mb-3 align-items-center">
      <div class="col-md-2">
        <label for="city">City<span class="text-danger">*</span></label>
      </div>
      <div class="col-md-10">
        <input 
          id="city" 
          name="city" 
          class="form-control rounded" 
          placeholder="Enter city" 
          [formControl]="cityControl" 
          (input)="validateCity(cityControl.value)"
          (focus)="validateCity(cityControl.value)"
        
          [matAutocomplete]="autoCity" />
        
        <mat-autocomplete #autoCity="matAutocomplete">  
          <mat-option *ngFor="let suggestion of filteredCities | async" [value]="suggestion.name" (click)="selectCity(suggestion)">
            {{ suggestion.name }}
          </mat-option>
        </mat-autocomplete>
        
        <div *ngIf="showCityMessage" class="alert alert-warning">
          Please enter a valid city.
        </div>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-md-2">
        <label for="state">State<span class="text-danger">*</span></label>
      </div>
      <div class="col-md-10">
        <input id="state" name="state" class="form-control2 rounded" matInput 
               [formControl]="stateControl" 
               [matAutocomplete]="autoState" 
               placeholder="Enter state" 
               (input)="validateState(stateControl.value)"
               (focus)="validateState(stateControl.value)">

        <mat-autocomplete #autoState="matAutocomplete">
          <mat-option *ngFor="let stateOption of filteredStates | async" [value]="stateOption">
            {{ stateOption }}
          </mat-option>
        </mat-autocomplete>

        <div *ngIf="showStateMessage" class="alert alert-warning">
          Please enter a valid state.
        </div>
      </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="ralign-items-center text-center"ow mb-3 >
        <p>Autodetect Location <span><input type="checkbox" 
                 [checked]="isLocationDetectionEnabled" 
                 (change)="onLocationDetectionChange($event)"></span> Current Location</p>
    </div>
    <div class="container mt-3 d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary me-2"  (click)="onSearch()">
        <img src="/assets/images/search.svg" alt="Search" class="icon"> Search
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="clearForm()">
        <img src="/assets/images/list-nested.svg" alt="Clear" class="icon"> Clear
    </button>
</div>
</form>


</div>

<app-result [city]="selectedcity" [state]="selectedstate"></app-result>