#forecasttext{
    font-size: 20px;
    padding: 60px;
    font-weight: 700;
}



.details-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.details-button i.bi-star, .details-button i.bi-star-fill {
    margin-right: 5px;
    font-size: 16px;
    color: rgb(252, 210, 5); /* Default color for the star */
}

.details-button .details-text {
    margin-right: 5px;
}

.details-button i.bi-chevron-right {
    font-size: 12px;
    color: #333;
}

.details-button .bi-star-fill {
    color: rgb(16, 16, 13); /* Filled star color when clicked */
}

.result-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;  /* Adjust as needed */
}

.content-wrapper {
  margin-top: 20px;  /* Add space above the content */
}

.nav-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-button-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.details-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.details-text {
  margin-left: 10px;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.values-column {
  width: 60%; /* Adjust width percentage as needed */
}